@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.products-container {
  font-size: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
  
}

.product-card {
  display: flex;
  margin: 10px;
}

footer{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  
}

.cart-img{
  width: 70px;

}

.table td , th{
  font-size: 12px;
}

.quantity-product{
width: 40px;

}

.add-product-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 40px;
	border: 2px solid lightblue;
	border-radius: 5px;
	padding: 20px;
}

.admin-container .header,
.admin-container .add-product-header {
	display: flex;
	justify-content: space-between;
}

.add-product-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.add-product-form .item {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.add-product-form .item .label-item {
	flex: 1;
}

.add-product-form .item .input-item {
	flex: 2;
}

.add-product-form .item .input-item input {
	width: 100%;
}

.hidden {
	display: none;
}

.error {
	background-color: red;
}

.success {
	background-color: green;
}
