@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  
}
html {
  scroll-behavior: smooth;
}

.products-container {
  font-size: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
  
}

.product-card {
  display: flex;
  margin: 10px;
}

footer{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* width: 100vw; */
  
}


.cart-img{
  width: 50px;

}

.table td , th{
  font-size: 12px;
}

.quantity-product{
width: 40px;

}

.add-product-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 40px;
	border: 2px solid ;
	border-radius: 5px;
	padding: 20px;
}

.admin-container .header,
.admin-container .add-product-header {
	display: flex;
	justify-content: space-between;
}

.add-product-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.add-product-form .item {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.add-product-form .item .label-item {
	flex: 1;
}

.add-product-form .item .input-item {
	flex: 2;
}

.add-product-form .item .input-item input {
	width: 100%;
}

.hidden {
	display: none;
}

.error {
	background-color: red;
}

.success {
	background-color: green;
}

.buttons-add-edit{
	display: flex;
	gap: 10px;
}
/* 
products-list{
	width: 80vw;
} */

.quantity-form{
	width: 25vw;
	padding: 0;
	margin: 0;	
}

.quantity-input{
	display: flex;
	padding:0;
	gap:2px;
	width: 25vw;

}

.quantity-input input{
	color:white;
	background-color: #212529;
	padding: 0;
}

.quantity-input button{
	background-color: #212529;
}

.quantity-value{
	font-size: 12px;
	font-weight: bold;
}

